@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Regular'), local('FiraCode-Regular'),
        url('./FiraCode-Regular.woff2') format('woff2'),
        url('./FiraCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Bold'), local('FiraCode-Bold'),
        url('./FiraCode-Bold.woff2') format('woff2'),
        url('./FiraCode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code Retina';
    src: local('Fira Code Retina'), local('FiraCode-Retina'),
        url('./FiraCode-Retina.woff2') format('woff2'),
        url('./FiraCode-Retina.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Medium'), local('FiraCode-Medium'),
        url('./FiraCode-Medium.woff2') format('woff2'),
        url('./FiraCode-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Light'), local('FiraCode-Light'),
        url('./FiraCode-Light.woff2') format('woff2'),
        url('./FiraCode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

