@import '~sanitize.css/sanitize.css';
@import './fonts/manrope/font.css';
@import './fonts/fira-code/font.css';
@import './_variables';

body {
  background: $darkGray;
  font-size: 12px;
  color: $white;
  font-family: $bodyFontFamily;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerFontFamily;
  font-weight: normal;
  small {
    font-family: $bodyFontFamily;
  }
}

a {
  text-decoration: none;
  color: $green;
}

